*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;

	background-color: #F3F3F3;
}

.home-screen{
	height: 100%;
	width: 100%;

	background-color: #FFFFFF;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
}

.home-screen-visibility{
	visibility: hidden;
}

.home-screen-brand-content{
	margin-top: 72px;
	margin-bottom: 84px;
}

.home-screen-brand{
	width: 130px;
}

.home-screen-input-content{
	margin-bottom: 15px;
}

.home-screen-input{
	width: 261px;
	height: 54px;

	font-size: 15px;	
	text-align: center;

	background-color: #FFFFFF;

	border: 1px solid #D7D7D7;
	border-radius: 4px;
}

.home-screen-input::placeholder{
	font-size: 15px;
	line-height: 25px;
	color: #AEAEAE;
}

.home-screen-button{
	background: #E7E7E7;
	border-radius: 9px;
	border: none;

	width: 109px;
	height: 45px;

	font-size: 15px;
	line-height: 25px;
	color: #696969;
}

.content-general-visibility{
	display: none;
}

.content-general-to-visibility{
	display: initial;
}

.top-bar{
	height: 80px;
	width: 100%;

	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

	background-color: #FFFFFF;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
}

.brand{
	width: 75px;
	margin-left: 22px;
}

.people{
	font-size: 50px;
	margin-right: 22px;
}

.container{
	margin: 104px 0;
}

.lobby{
	display: flex;
	align-items: center;

	margin-bottom: 4px;

	background-color: #FFFFFF;

	border-radius: 2px;

	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
}

.lobby-content{
	margin: 0 8px;
	padding: 13px 0;

	line-height: 20px;
}

.lobby-enter-leave{
	background-color: #DCDCDC;
}

.current-time{
	color: #AAAAAA;
}

.lobby-user-name,
.lobby-message-everyone,
.lobby-message-reply,
.lobby-message-private{
	font-weight: bold;
}

.lobby-private{
	background-color: #FFDEDE;
}

.bottom-bar{
	height: 80px;
	width: 100%;

	background-color: #FFFFFF;

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

	position: fixed;
	bottom: 0;
	left: 0;
}

.bottom-bar-input{
	width: 70%;

	margin-left: 22px;

	font-size: 18px;
	font-style: normal;
	line-height: 21px;

	border: none;
}

.bottom-bar-input::placeholder{
	font-style: italic;
	font-weight: 500;
	color: #000000;	
}

.bottom-bar-input:focus{
	outline: none;
}

.paper-plane-outline{
	font-size: 33px;

	margin-right: 22px;
}

.user-options{
	height: 100%;
	width: 100%;

	background: rgba(0, 0, 0, 0.6);

	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	visibility: hidden;

	opacity: 0;
}

.user-options-content-general{
	width: 259px;
	height: 100%;

	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	background-color: #FFFFFF;

	visibility: hidden;

	transform: translateX(100%);
}

.visibility-show{
	visibility: visible;

	transform: translateX(0);
	transition: all 1s ease-out;
}

.visibility-hidden{
	transform: translateX(100%);
	transition: all 1s ease-out;
}

.opacity-show{
	visibility: visible;

	opacity: 1;

	transition: all 1s ease-out;
}

.opacity-hidden{
	visibility: hidden;

	opacity: 0;

	transition: all 1s ease-out;
}

.user-options-title{
	font-size: 16px;
	font-weight: 700;

	line-height: 19px;

	text-align: center;

	padding: 20px;
}

.user-options-content{
	margin: 0 20px;
}

.user-options-select-users ul li,
.user-options-messagens ul li{
	font-size: 16px;

	line-height: 19px;

	margin-bottom: 10px;
}

.user-options-select-users ul li ion-icon,
.user-options-messagens ul li ion-icon{
	font-size: 25px;
}

.user-flex-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-flex-li{
	display: flex;
	align-items: center;
}

.user-flex-icon{
	margin-right: 7px;
}

ul li i.user-options-checkmark{
	color: #28BB25;

	font-size: 15px;
	font-weight: bolder;
}